.place__title {
  grid-area: title;
  margin: 0;
  font-family: var(--font-inter);
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-right: 10px;
  }
}

/*@media screen and (max-width: 768px) {*/
/*  .place__title {*/
/*    font-size: 42px;*/
/*    line-height: 46px;*/
/*    padding-right: 10px;*/
/*  }*/
/*}*/
