.place__content {
  grid-area: content;
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 27px;
}

@media screen and (max-width: 768px) {
  .place__content {
    grid-row-gap: 25px;
  }
}
