.cover__subtitle {
  font-family: var(--font-inter);
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  margin: 32px 0 0;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 260px;
    margin-top: 16px;
  }
}
