@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Regular.woff2) format('woff2'),
       url(../../vendor/Inter-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Bold.woff2) format('woff2'),
  url(../../vendor/Inter-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Black.woff2) format('woff2'),
  url(../../vendor/Inter-Black.woff) format('woff');
  font-weight: 900;
}

:root {
  --bg-grey: #2a2c2f;
  --font-grey: #aaaaaa;
  --font-inter: Inter, Arial, sans-serif;
}

.root {
  background-color: var(--bg-grey);
  color: white; /* todo убрать отсюда */
}
