.footer__nav {
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .footer__nav {
    margin-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .footer__nav {
    margin-top: 65px;
  }
}
