.footer {
  display: flex;
  padding: 0 48px 24px;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 0 16px 24px;
    flex-direction: column;
  }
}
